<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Contact">
		<classes>
			<class name="TestCases.TestContact"></class>
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Item">
		<classes>
			<class name="TestCases.TestItem"></class>
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Purchase Invoice">
		<classes>
			<class name="TestCases.PurchaseTest"></class>
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Sales Invoice">
		<classes>
			<class name="TestCases.SalesTest"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->